<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Convert To Word</h4>
                </div>
            </div>
                <!-- Search-->
                <div class="col-md-4 align-self-center text-right">
                @using (Html.BeginForm("ConvertToWord", "TxnPaymentHDs", new { searchString = "" }, FormMethod.Post))
                {
                            <div class="input-group">

                                <input type="text" id="searchString" name="searchString" class="form-control" placeholder="Enter Amount..." />
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-info"> <i class="fas fa-search-plus"></i> Go!</button>
                                </div>
                            </div>
                }
                </div>
                <!-- End Search-->
             <div class="row page-titles">
                <label class="control-label text-left col-md-4" style="color: black;">AMOUNT: @ViewBag.Amount</label>
              </div>
              <div class="row page-titles">
                <label class="control-label text-left col-md-8" style="color: darkblue;">AMOUNT IN WORD: @ViewBag.AmountInword</label>
              </div>
        </div>
    </div>
</div>